.custom-active {
    color: orange !important;  /* Text in orange when active */
    font-family: 'Droid Serif';  /* Modern font */
    font-weight: bold;  /* Make it bold */
    
}

/* .nav-link:hover {
    
} */

.header-font {
    font-family: 'Droid Serif';
    font-weight: bold;
    font-size: 15px;  /* Adjust font size */
}


.goog-te-gadget-icon {
    display: none;
}

.goog-te-gadget-simple {
    background-color: #ecebf0 !important;
    border: 0 !important;
    outline: 1px solid black;
    font-size: 10pt;
    font-weight: 800;
    display: inline-block;
    padding: 10px 10px !important;
    cursor: pointer;
    zoom: 1;
}

.goog-te-gadget-simple span {
    color: #000 !important;
}

body {
    top: 0px !important;
}





