<!-- <nav class="navbar navbar-expand-lg py-3 bg-light fixed-top" style="z-index: 1;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="../../../assets/Screenshot 2024-08-07 105609.png" alt="Logo" routerLink="/home" style=" width: 50px; height: 50px; vertical-align: middle; margin-right: 120px;">

        <img src="../../../assets/THE HINDU'S WORLD logo.png" alt="THE HINDU'S WORLD logo" style="width: 50px; height: 50px;">
        <img src="../../../assets/HINDU PULSE logo.png" alt="HINDU PULSE logo" style="width: 50px; height: 50px;">
        <img src="../../../assets/OM SANATANA  logo.png" alt="OM SANATANA logo" style="width: 50px; height: 50px;">
        
        <img src="../../../assets/GRAMAUTPAD logo.png" alt="GRAMAUTPAD logo" style="width: 50px; height: 50px;">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Gramadevata</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item active">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="home"
                            routerLinkActive="active">Home</a>
                    </li>

                    
                    <li class="nav-item active">
                        <a data-bs-dismiss="offcanvas" class="nav-link" href="/assets/Gramadevata Foundation note.pdf" target="_blank">About Us</a>
                    </li>
                    
                    

                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="globaltemples"
                            routerLinkActive="active" (click)="navigateToTempleFilters()">Temples</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="goshala"
                            routerLinkActive="active" (click)="navigateToGoshalaFilters()">Goshalas</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="events"
                            routerLinkActive="active" (click)="navigateToEventFilters()">Events</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link"routerLink="villages"
                             routerLinkActive="active" (click)="openContectYourOrginDialog()">Connect
                            Your Origin</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link"routerLink="connections"
                             routerLinkActive="active" (click)="openTempleDialog()">Connect Your Temple
                            </a>
                    </li>
                    


                      

                      
                      
            
                    <div *ngIf="!authenticationService.isLoggedIn;" class="nav-item-container d-flex flex-column">
                        
                        <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" id="signUp" [ngClass]="getButtonClasses()"
                        (click)="openSignupDialog()" style="color: white; background-color: orange; ">Sign In</a>
                        </li>

                    </div>


                    <div *ngIf="authenticationService.isLoggedIn;" class="nav-item-container d-flex">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                
                                <a class="nav-link " href="#" id="navbarDropdown" role="button" style="margin-top: -5px;" 
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                      <img src="../../../assets/profile1.webp" alt="Profile" class="rounded-circle" width="35" height="35">
                                </a>
                                
                                <ul class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                                    
                                    <li class="nav-item">
                                        <a
                                          class="nav-link"
                                          data-bs-dismiss="offcanvas"
                                          (click)="navigateTo('profile')"
                                          routerLinkActive="active"
                                        >
                                          View Profile
                                        </a>
                                      </li>
                                      
                                    
                                    <li class="nav-item">
                                        <a data-bs-dismiss="offcanvas" class="nav-link"
                                            (click)="doLogout()"
                                            routerLinkActive="active">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                    
                </ul>
            </div>
        </div>
    </div>
</nav> -->



<nav class="navbar navbar-expand-lg py-3 bg-light fixed-top" style="z-index: 1;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-none d-md-flex align-items-center logo-row">
            <img src="../../../assets/Screenshot 2024-08-07 105609.png" alt="Logo" routerLink="/home" style="width: 50px; height: 50px; vertical-align: middle; margin-right: 120px;">
            <img src="../../../assets/THE HINDU'S WORLD logo.png" alt="THE HINDU'S WORLD logo" style="width: 50px; height: 50px;">
            <img src="../../../assets/HINDU PULSE logo.png" alt="HINDU PULSE logo" style="width: 50px; height: 50px;">
            <img src="../../../assets/OM SANATANA  logo.png" alt="OM SANATANA logo" style="width: 50px; height: 50px;">
            <img src="../../../assets/GRAMAUTPAD logo.png" alt="GRAMAUTPAD logo" style="width: 50px; height: 50px;">
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Gramadevata</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item active">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
                    </li>
                    <!-- <li class="nav-item active">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="aboutus" routerLinkActive="active">About Us</a>
                    </li> -->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdown" 
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       About Us
                     </a>

                           <ul class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="aboutus" routerLinkActive="active">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a data-bs-dismiss="offcanvas" class="nav-link"  routerLink="vision/mision">Mission/Vision</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a data-bs-dismiss="offcanvas" class="nav-link" (click)="openPdf()">Mission/Vision</a>
                                </li> -->
                                
                                
                            </ul>
                        </li>
                    </ul>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="globaltemples" routerLinkActive="active" (click)="navigateToTempleFilters()">Temples</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="goshala" routerLinkActive="active" (click)="navigateToGoshalaFilters()">Goshalas</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="events" routerLinkActive="active" (click)="navigateToEventFilters()">Events</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="villages" routerLinkActive="active" (click)="openContectYourOrginDialog()">Connect Your Origin</a>
                    </li>

                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link"routerLink="connections"
                             routerLinkActive="active" (click)="openTempleDialog()">Connect Your Temple
                            </a>
                    </li>


                    
                    <div *ngIf="!authenticationService.isLoggedIn;" class="nav-item-container d-flex flex-column">
                        <li class="nav-item">
                            <a data-bs-dismiss="offcanvas" id="signUp" [ngClass]="getButtonClasses()" (click)="openSignupDialog()" style="color: white; background-color: orange;">Sign In</a>
                        </li>
                    </div>
                    <div *ngIf="authenticationService.isLoggedIn;" class="nav-item-container d-flex">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" style="margin-top: -5px;" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../../../assets/profile1.webp" alt="Profile" class="rounded-circle" width="35" height="35">
                                </a>
                                <ul class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                                    <li class="nav-item">
                                        <a data-bs-dismiss="offcanvas" class="nav-link" (click)="navigateTo('profile')" routerLinkActive="active">View Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-bs-dismiss="offcanvas" class="nav-link" (click)="doLogout()" routerLinkActive="active">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>


