


<nav class="navbar navbar-expand-lg py-2 bg-light fixed-top" style="z-index: 1;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-md-flex align-items-center logo-row d-none d-md-inline-block">
            <img src="../../../assets/Screenshot 2024-08-07 105609.png" alt="Logo" routerLink="/home" style="width: 50px; height: 50px; vertical-align: middle; margin-right: 120px;">
            <img src="../../../assets/THE HINDU'S WORLD logo.png" alt="HINDU PULSE logo" style="width: 50px; height: 50px;">
            <a href="http://hindupulse.com/home" target="_blank">
                <img src="../../../assets/HINDU PULSE logo.png" alt="THE HINDU'S WORLD logo" style="width: 50px; height: 50px;">
            </a>
            <img src="../../../assets/OM SANATANA  logo.png" alt="OM SANATANA logo" style="width: 50px; height: 50px;">
            <img src="../../../assets/GRAMAUTPAD logo.png" alt="GRAMAUTPAD logo" style="width: 50px; height: 50px;">
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Gramadevata</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="d-block d-md-none mb-3">
                    <img src="../../../assets/Screenshot 2024-08-07 105609.png" alt="Logo" routerLink="/home" style="width: 40px; height: 40px; margin-right: 15px;">
                    <img src="../../../assets/THE HINDU'S WORLD logo.png" alt="HINDU PULSE logo" style="width: 40px; height: 40px; margin-right: 15px;">
                    <a href="http://hindupulse.com/home" target="_blank">
                        <img src="../../../assets/HINDU PULSE logo.png" alt="THE HINDU'S WORLD logo" style="width: 40px; height: 40px; margin-right: 15px;">
                    </a>
                    <img src="../../../assets/OM SANATANA  logo.png" alt="OM SANATANA logo" style="width: 40px; height: 40px; margin-right: 15px;">
                    <img src="../../../assets/GRAMAUTPAD logo.png" alt="GRAMAUTPAD logo" style="width: 40px; height: 40px;">
                </div>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 header-font">
                    <li class="nav-item active">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="home" routerLinkActive="custom-active">Home</a>
                    </li>
                    
                    
                    <ul class="navbar-nav">
                        
                        <li class="nav-item dropdown" routerLinkActive="custom-active" [routerLinkActiveOptions]="{ exact: false }">
                            <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdown" 
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              About Us
                            </a>
                    
                            <ul class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/vision/mision" routerLinkActive="custom-active" data-bs-dismiss="offcanvas">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/aboutus" routerLinkActive="custom-active" data-bs-dismiss="offcanvas">Our Team</a>
                                </li>
                                <li class="nav-item">
                                    <button class="btn nav-link" (click)="openSitemap()" data-bs-dismiss="offcanvas">Site Map</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                    
                    
                    
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link " routerLink="globaltemples" routerLinkActive="custom-active" (click)="navigateToTempleFilters()">Temples</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="goshala" routerLinkActive="custom-active" (click)="navigateToGoshalaFilters()">Goshalas</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="events" routerLinkActive="custom-active" (click)="navigateToEventFilters()">Events</a>
                    </li>
                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="villages" routerLinkActive="custom-active" (click)="openContectYourOrginDialog()">Connect Your Village/Area</a>
                    </li>

                    <li class="nav-item">
                        <a data-bs-dismiss="offcanvas" class="nav-link" routerLink="connections"
                             routerLinkActive="custom-active" (click)="openTempleDialog()">Connect Your Temple
                            </a>
                    </li>


                    
                    <div *ngIf="!authenticationService.isLoggedIn;" class="nav-item-container d-flex flex-column">
                        <li class="nav-item">
                            <a data-bs-dismiss="offcanvas" id="signUp" [ngClass]="getButtonClasses()" (click)="openSignupDialog()" style="color: white; background-color: orange;">Sign In</a>
                        </li>
                    </div>
                    <!-- <div *ngIf="authenticationService.isLoggedIn;" class="nav-item-container d-flex">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" style="margin-top: 0px;" data-bs-toggle="dropdown" aria-expanded="false">
                                    
                                    <img [src]="profile_pic || '../../../../assets/profile1.webp'"
                                    class="rounded-circle"
                                    [ngStyle]="{ 'height': '35px', 'width': '35px', 'border-radius': '50%',  }"
                                    alt="profile image"
                                    (error)="handleProfileImageError($event)">
                               
                                    <p>{{username}}</p>
                                     
                                </a>
                                
                                <ul class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                                    <li class="nav-item">
                                        <a data-bs-dismiss="offcanvas" class="nav-link" (click)="navigateTo()" routerLinkActive="active">View Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-bs-dismiss="offcanvas" class="nav-link" (click)="doLogout()" routerLinkActive="active">Logout</a>
                                    </li>
                                </ul>
                              
                                
                                
                                
                            </li>
                        </ul>
                    </div> -->
                    <div *ngIf="authenticationService.isLoggedIn" class="nav-item-container d-flex align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link d-flex flex-column align-items-center text-center" href="#" id="navbarDropdown" 
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img [src]="profile_pic || '../../../../assets/profile1.webp'"
                                         class="rounded-circle"
                                         [ngStyle]="{ 'height': '35px', 'width': '35px', 'margin-top': '-10px' }"
                                         alt="Profile image"
                                         (error)="handleProfileImageError($event)">
                                    <span class="mt-1">{{username}}</span>
                                </a>
                    
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" (click)="navigateTo()" routerLinkActive="active">View Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" (click)="doLogout()" routerLinkActive="active">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                    
                </ul>
            </div>
        </div>
    </div>
</nav>


