


<div>
    <div class="container col-12">
        <div class="row">
            <div class="col-12 mt-5">
                <h1 style="font-size: 30px; font-weight: bold; margin-top: 50px;" class="text-center">Your Temple Connections</h1>
            </div>
        </div>

        
        <div class="hide-scrollbar">
            <div *ngIf="templeConnections?.length > 0; else noTempleData" >
                <div *ngFor="let templeConnection of templeConnections" style="display: inline-block; margin-right: 15px;">
                    <div class="image-container text-center">
                        <a (click)="navigateTempleDetail(templeConnection.temple._id)">
                            <img [src]="templeConnection.temple?.image_location ? templeConnection.temple.image_location : 'assets/ohm.jpg'" 
                                 class="img-fluid rounded" 
                                 alt="image"
                                 (error)="handleImageError($event)">
                        </a>
                        <p class="temple-name" style="margin-top: 5px; white-space: normal; overflow: hidden; text-overflow: ellipsis;">{{ templeConnection?.temple?.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        
        

        <!-- No Temple Data Found Message -->
        <ng-template #noTempleData>
            <div class="row">
                <div class="col-12 text-center">
                    <p style="font-size: 20px;">You are unable to connect to any Temple</p>
                </div>
            </div>
        </ng-template>

        <div class="col-12 text-center mt-3">
            <button type="button" class="btn btn-warning" style="border-radius: 3px; color: white;" (click)="openTempleDialog()">Connect Your Temples</button>
        </div>
    </div>

    <div class="container col-12">
        <div class="row">
            <div class="col-12">
                <h1 style="font-size: 30px; font-weight: bold; margin-top: 50px;" class="text-center">Your Village Connections</h1>
            </div>
        </div>

        <!-- Check if there are village connections -->
        <div class="hide-scrollbar">
        <div *ngIf="villageconnections?.length > 0; else noVillageData" >
            <div *ngFor="let villageConnection of villageconnections" style="display: inline-block; margin-right: 15px;">
                <div class="image-container text-center">
                    <a (click)="navigateToVillageDetail(villageConnection.village._id)">
                        <img [src]="villageConnection.village?.image_location ? 'data:image/jpeg;base64,' + villageConnection.village.image_location : 'assets/village3.jpg'" 
                             
                             class="img-fluid rounded" 
                             alt="image">
                    </a>
                    <p class="temple-name" style="margin-top: 5px; white-space: normal; overflow: hidden; text-overflow: ellipsis;">{{ villageConnection?.village?.name }}</p>
                </div>
            </div>
        </div>
    </div>

        <!-- No Village Data Found Message -->
        <ng-template #noVillageData>
            <div class="row">
                <div class="col-12 text-center">
                    <p style="font-size: 20px;">You are Unable to connect to any village</p>
                </div>
            </div>
        </ng-template>

        <div class="col-12 text-center mt-3 mb-5">
            <button (click)="openVillageDialog()" type="button" class="btn btn-warning" style="border-radius: 3px; color: white;">Connect Your Village</button>
        </div>
    </div>
</div>
