<section class="header-m" style="margin-top: 120px;">
    <div class="container col-xxl-8 px-3 py-2">
      <div class="row justify-content-center align-items-center g-5 py-2">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../../../assets/durga.jpg" class="d-block mx-lg-auto img-fluid" style="border-radius: 50px;"
            alt="Bootstrap Themes" width="500" height="300" loading="lazy">
        </div>
  
        <div class="col-lg-6">
          <!-- <h4 class="fw-bold lh-1 mb-3 text-primary">Our Village - Our Temple - Our Deity</h4> -->
          <h4 class="fw-bold lh-1 mb-3" style="color: orange;">Our Village - Our Temple - Our Deity</h4>

          <p class="lead">Here’s where heritage meets heart, and roots intertwine with reverence. In the hustle and bustle
            of our modern lives, the echoes of tradition and the whispers of our ancestors often fade away. But here in
            Gramadevata, in this sacred space, we invite you on a journey to rediscover the essence of your origins, to
            connect with the spiritual tapestry that weaves through generations.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start px-2">
              <a class = "text-white" href="../../../assets/Gramadevata Foundation note.pdf" target="_blank">
                <!-- <button class="btn btn-primary px-4 me-md-2 text-white" >Read more</button> -->
                <button class="btn btn-primary px-4 me-md-2 text-white" style="background-color: orange; border-color: orange;">Read more</button>

              </a>
          </div>
          </div>
      </div>
  
      <div class="row justify-content-center align-items-center mt-2">
        <h4 class="fw-bold lh-1 " style="color: orange;">Vision</h4>
        <p class="lead">Facilitate a platform for worldwide Hindus to connect, communicate and coordinate with one another
          on spiritual Culture.</p>
      </div>
  
      <div class="row justify-content-center align-items-center mt-2">
        <h4 class="fw-bold lh-1 " style="color: orange;">Mission</h4>
        <div class="container">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <p class="mb-0">To keep every Hindu connected, actively participate and communicating spiritual activities
                  events in their origin villages from anywhere in the world.</p>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <p class="mb-0">To activate Sanatana and old traditional rituals in all villages in India.</p>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <p class="mb-0">To protect and prevent exploitation, destruction and neglect of scared temples in India.
                </p>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <p class="mb-0">To keep family history of every individual to know their roots from generation to
                  generations.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
  
    </div>
  </section>