



<div class="container py-4 header-m">
  <div class="form-card">
    <ngx-spinner bdOpacity=0.9 bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff"
			type="ball-spin-clockwise">
		</ngx-spinner>
    <form [formGroup]="templeForm" class="p-5">
      <div class="row mt-5">
        <h3 class="section-header-title text-center">Add a Temple</h3>
      </div>
      <div class="temple-form-heading">
        <h3>Temple details</h3>
        <hr />
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="templeName">Temple name *</label>
              <input type="text" class="form-control" id="templeName" formControlName="name" placeholder="Enter the Temple's name">
              <div *ngIf="templeForm.get('name')?.invalid && (templeForm.get('name')?.dirty || templeForm.get('name')?.touched)" class="text-danger">
                Temple name is required
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="templeName">Diety name *</label>
              <input type="text" class="form-control" id="templeName" formControlName="diety" placeholder="Enter the Temple's name">
              <div *ngIf="templeForm.get('diety')?.invalid && (templeForm.get('name')?.dirty || templeForm.get('diety')?.touched)" class="text-danger">
                Diety name is required
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="templeCategory">Temple category *</label>
              <select class="form-control" id="templeCategory" formControlName="category">
                <option *ngFor="let option of templeCategoryOptions" [value]="option.value">{{ option.label }}</option>
              </select>
              <div *ngIf="templeForm.get('category')?.invalid && (templeForm.get('category')?.dirty || templeForm.get('category')?.touched)" class="text-danger">
                Temple category is required
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="style">Temple Style </label>
              <select class="form-control" id="style" formControlName="style">
                <option *ngFor="let option of templeStyleOptions" [value]="option.value">{{ option.label }}</option>
              </select>
              <div *ngIf="templeForm.get('style')?.invalid && (templeForm.get('style')?.dirty || templeForm.get('style')?.touched)" class="text-danger">
                Temple style is required
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="priority">Temple Priority *</label>
              <select class="form-control" id="priority" formControlName="priority">
                <option *ngFor="let option of templePriorityOptions" [value]="option.value">{{ option.label }}</option>
              </select>
              <div *ngIf="templeForm.get('priority')?.invalid && (templeForm.get('priority')?.dirty || templeForm.get('priority')?.touched)" class="text-danger">
                Temple priority is required
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="is_navagraha_established">Is Navagraha Established</label>
              <select class="form-control" id="is_navagraha_established" formControlName="is_navagraha_established">
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
              </select>
              <div *ngIf="templeForm.get('is_navagraha_established')?.invalid && (templeForm.get('is_navagraha_established')?.dirty || templeForm.get('is_navagraha_established')?.touched)" class="text-danger">
                Please select an option
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="construction_year">Temple Construction Year</label>
              <input type="text" class="form-control" id="construction_year" formControlName="construction_year" placeholder="Enter the Temple Construction Year">
              <div *ngIf="templeForm.get('construction_year')?.invalid && (templeForm.get('construction_year')?.dirty || templeForm.get('construction_year')?.touched)" class="text-danger">
                Construction year is required
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="is_destroyed">Is Destroyed</label>
              <select class="form-control" id="is_destroyed" formControlName="is_destroyed">
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
              </select>
              <div *ngIf="templeForm.get('is_destroyed')?.invalid && (templeForm.get('is_destroyed')?.dirty || templeForm.get('is_destroyed')?.touched)" class="text-danger">
                Please select an option
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="animal_sacrifice_status">Animal Sacrifice Status</label>
              <select class="form-control" id="animal_sacrifice_status" formControlName="animal_sacrifice_status">
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
              </select>
              <div *ngIf="templeForm.get('animal_sacrifice_status')?.invalid && (templeForm.get('animal_sacrifice_status')?.dirty || templeForm.get('animal_sacrifice_status')?.touched)" class="text-danger">
                Please select an option
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="desc">About the temple</label>
              <textarea class="form-control" id="desc" formControlName="desc" placeholder="Describe about the temple in less than 4500 words" rows="5"></textarea>
              <div *ngIf="templeForm.get('desc')?.invalid && (templeForm.get('desc')?.dirty || templeForm.get('desc')?.touched)" class="text-danger">
                
                <div *ngIf="templeForm.get('desc')?.errors?.['maxlength']">Description cannot be more than 4500 words</div>
              </div>
            </div>
          </div>
        </div>
       


        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="temple_map_location">Temple Map Location (URL) *</label>
              <div class="input-group">
                <input
                  type="url"
                  class="form-control"
                  id="temple_map_location"
                  formControlName="temple_map_location"
                  placeholder="https://example.com/map"
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="getCurrentLocation()"
                    title="Fetch Current Location"
                  >
                    📍 Get Location
                  </button>
                </div>
              </div>
              <small class="form-text text-muted">
                Please provide a valid URL for the temple's map location.
              </small>
              <div
                *ngIf="templeForm.get('temple_map_location')?.invalid && (templeForm.get('temple_map_location')?.dirty || templeForm.get('temple_map_location')?.touched)"
                class="text-danger"
              >
                Please enter a valid URL for the Temple Map Location.
              </div>
            </div>
          </div>
        </div>
        
        
        
        








        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="address">Total Address *</label>
              <textarea class="form-control" id="address" formControlName="address" placeholder="Total Address" rows="2"></textarea>
              <div *ngIf="templeForm.get('address')?.invalid && (templeForm.get('address')?.dirty || templeForm.get('address')?.touched)" class="text-danger">
                Address is required
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please select a country">
                <label for="country">Country</label>
                <nz-select formControlName="country" nzPlaceHolder="Select country" [nzShowSearch]="true">
                  <nz-option *ngFor="let option of templeCountryOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control nzErrorTip="State is required">
                <label for="state">State</label>
                <nz-select formControlName="state" nzPlaceHolder="Select state" [nzShowSearch]="true">
                  <nz-option *ngFor="let option of templeStateOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control nzErrorTip="District is required">
                <label for="district">District</label>
                <nz-select formControlName="district" nzPlaceHolder="Select district" [nzShowSearch]="true">
                  <nz-option *ngFor="let option of templeDistrictOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control nzErrorTip="Mandal is required">
                <label for="mandal">Mandal</label>
                <nz-select formControlName="mandal" nzPlaceHolder="Select mandal" [nzShowSearch]="true">
                  <nz-option *ngFor="let option of templeMandalOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-4">
            <nz-form-item>
              <nz-form-control nzErrorTip="Village is required">
                <label for="village">Village</label>
                <nz-select formControlName="object_id" nzPlaceHolder="Select village" [nzShowSearch]="true">
                  <nz-option *ngFor="let option of templeVillageOptions" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-4">
            <label>Banner image</label>
            <nz-upload nzListType="picture-card" [(nzFileList)]="bannerFileList"
              [nzShowButton]="bannerFileList.length < 1" (nzChange)="handleBannerFileChange($event)"
              [nzAccept]="'image/*'">
              <div>
                <i nz-icon nzType="plus"></i>
                Upload banner
              </div>
            </nz-upload>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-4">
            <label>Banner image *</label>
            <nz-upload
              nzListType="picture-card"
              [(nzFileList)]="bannerFileList"
              [nzShowButton]="bannerFileList.length < 1"
              (nzChange)="handleBannerFileChange($event)"
              [nzAccept]="'image/*'"
              (nzRemove)="handleBannerFileRemove()">
              <div>
                <i nz-icon nzType="plus"></i>
                Upload banner
              </div>
            </nz-upload>
            <div *ngIf="!bannerFileList.length" class="text-danger">
              Image is required.
            </div>
          </div>
        </div>
        
        <div class="text-center">
          <button type="button" (click)="onSubmit()" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; padding: 10px;"> Submit </button>
        </div>
      </div>
    </form>
  </div>
</div>
