


<!-- <section>
    <div class="container custom-width">
        <div class="row p-3">
            <p>First Name: <span style="font-size: smaller;">{{member.name}}</span></p>
            <p>Last Name: <span style="font-size: smaller;">{{member.surname}}</span></p>
            <p>Father's Name: <span style="font-size: smaller;">{{member.father_name}}</span></p>
            <p>Member belongs to the Village: <span style="font-size: smaller;">{{member.you_belongs_to_the_village}}</span></p>
            <p>Role in Village: <span style="font-size: smaller;">{{member.your_role_in_our_village}}</span></p>
            <p>Contact Number: <span style="font-size: smaller;">{{member.contact_number}}</span></p>
        </div>
    </div>
</section> -->

<section style="width: 400px;">
    <div class = "container p-5">
        <div  class="row">
            <p>Full Name: {{member.user.name}}</p>
            <!-- <p>Last Name: {{member.surname}}</p> -->
            <p>Fathers Name: {{member.user.father_name}}</p>
            
            <p>Contact Number: {{member.user.contact_number}}</p>
             <p>Date of birth: {{member.user.dob}}</p>
        </div>
        
    </div>

    
</section>
