<footer class="footer">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-md-0">
          <h6 class="text-uppercase">Designed & Developed by <a href="https://sathayushtech.com/" target="_blank">Sathayush Tech Solutions</a></h6>
          <p> <span> <i class="fa-solid fa-location-dot"></i></span> 1st Floor, RR Empire, Capital Pk Rd, Cyber Hills Colony, VIP Hills, Jaihind Enclave, Madhapur, Hyderabad, Telangana 500081</p>
          <p> <span> <i class="fa-solid fa-envelope"></i> </span> info&#64;sathayushtech.com</p>
        </div>
      </div>
    </div>

    <div style="background-color: rgba(0, 0, 0, 0.05);" class="mt-auto">
      <div class="container"> 
        <div class="row">
          <div class="p-3 col-md-7">
            © Copyright <b>Gramadevata Foundation.</b> All Rights Reserved
          </div>
          <div class="col-md-5 text-center text-md-end p-2">
            <section class="">
              <!-- Facebook -->
              <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!"
                role="button">
                <i class="bi bi-facebook"></i>
              </a>
              <!-- Instagram -->
              <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!"
                role="button">
                <i class="bi bi-instagram"></i>
              </a>
            </section>
            <!-- Section: Social media -->
          </div>
        </div>
      </div>
    </div>
  </footer>