<!-- 
<div class="container mb-5 mt-5"  style="margin-top: 600px;">
  <div class="row justify-content " >
    <div class="col-md-12">
      <div >

      </div>

    </div>

    <video id="templeVideo" autoplay  loop muted  class="video-custom">
      <source src="../../../assets/save plastic video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>



  </div>
</div> -->


<div class="container mb-5 mt-5" style="margin-top: 600px;">
  <div class="row justify-content">
    <div class="col-md-12">
      <div>
        <!-- <span id="remainingTime" class="video-time" style="display: none;"></span> -->
      </div>
    </div>
    <video id="templeVideo" autoplay loop muted class="video-custom">
      <source src="../../../assets/save plastic video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
