<div class="container py-4 header-m mt-4">
  <ngx-spinner bdOpacity=0.9 bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff"
			type="ball-spin-clockwise">
		</ngx-spinner>
    <div class="form-card">
        <ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
        </ngx-spinner>
        <form [formGroup]="eventform" class="p-5">
            <div class="row">
                <h3 class="section-header-title text-center">Add Event</h3>
            </div>
            <div class="temple-form-heading ">
                <h3>Event Details</h3>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="goshalanmae">Event Name*</label>
                            <input type="text" class="form-control" id="templeName" formControlName="name" placeholder="Enter the Event's name">
                            <div *ngIf="eventform.get('name')?.invalid && (eventform.get('name')?.dirty || eventform.get('name')?.touched)" class="text-danger">
                              Name is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="GoshalaCategory">Event Category*</label>
                            <select class="form-control" id="goshalaCategory" formControlName="category">
                                <option *ngFor="let option of goshalaCategoryoptions" [value]="option.value">{{ option.label }}</option>
                              </select>
                              <div *ngIf="eventform.get('category')?.invalid && (eventform.get('category')?.dirty || eventform.get('category')?.touched)" class="text-danger">
                                Event Category is required
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                       <div class="form-group">
                        <label for="registartion numer">Start Date*</label>
                        <input type="date" class="form-control" id="reg_num" formControlName="start_date" placeholder="Entert the Start Date ">
                        <div *ngIf="eventform.get('start_date')?.invalid && (eventform.get('start_date')?.dirty || eventform.get('start_date')?.touched)" class="text-danger">
                          start date is required
                        </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                       <label for="registartion numer">End Date*</label>
                       <input type="date" class="form-control" id="reg_num" formControlName="end_date" placeholder="Entert the End Date ">
                       <div *ngIf="eventform.get('end_date')?.invalid && (eventform.get('end_date')?.dirty || eventform.get('end_date')?.touched)" class="text-danger">
                        End date is required
                      </div>
                      </div> 
                   </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                      <label for="registartion numer">Start Time</label>
                      <input type="time" class="form-control" id="reg_num" formControlName="start_time" >
                      <div *ngIf="eventform.get('start_time')?.invalid && (eventform.get('start_time')?.dirty || eventform.get('start_time')?.touched)" class="text-danger">
                        start time is required
                      </div>
                     </div> 
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                     <label for="registartion numer">End Time</label>
                     <input type="time" class="form-control" id="reg_num" formControlName="end_time" >
                     <div *ngIf="eventform.get('end_time')?.invalid && (eventform.get('end_time')?.dirty || eventform.get('end_time')?.touched)" class="text-danger">
                      End time is required
                    </div>
                    </div> 
                 </div>
              </div>
                <div class="row">
                    <div class="col-md-6">
                       <div class="form-group">
                        <label for="address">Contact Name*</label>
                        <input type="text" class="form-control" id="address" formControlName="contact_name" placeholder="Enter the Contact Name">
                        <div *ngIf="eventform.get('contact_name')?.invalid && (eventform.get('contact_name')?.dirty || eventform.get('contact_name')?.touched)" class="text-danger">
                          contact name is required
                        </div>
                       </div> 
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                       <label for="contact_phone">Contact Phone*</label>
                       <input type="text" class="form-control" id="contact_phone" formControlName="contact_phone" placeholder="Enter the Contact Phone ">
                       <div *ngIf="eventform.get('contact_phone')?.invalid && (eventform.get('contact_phone')?.dirty || eventform.get('contact_phone')?.touched)" class="text-danger">
                        Contact Phone is required
                      </div>
                      </div> 
                   </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                     <div class="form-group">
                      <label for="address"> Email</label>
                      <input type="text" class="form-control" id="contact_email" formControlName="contact_email" placeholder="Enter the Contact Email">
                      <div *ngIf="eventform.get('contact_email')?.invalid && (eventform.get('contact_email')?.dirty || eventform.get('contact_email')?.touched)" class="text-danger">
                         Email is required
                      </div>
                     </div> 
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                     <label for="address">Address*</label>
                     <input type="text" class="form-control" id="address" formControlName="address" placeholder="Enter the Contact address">
                     <div *ngIf="eventform.get('address')?.invalid && (eventform.get('address')?.dirty || eventform.get('address')?.touched)" class="text-danger">
                       Contact address is required
                     </div>
                    </div> 
                 </div>
                  <div class="col-md-12">
                    <div class="form-group">
                     <label for="address">Description</label>
                     <textarea class="form-control" id="desc" formControlName="desc" placeholder="Describe about the temple in less than 4500 words" rows="3"></textarea>
                    </div> 
                 </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select a country">
                      <label for="country">Country *</label>
                      <nz-select
                        formControlName="country"
                        nzPlaceHolder="Select country"
                        [nzShowSearch]="true">
                        <nz-option 
                          *ngFor="let option of CountryOptions" 
                          [nzValue]="option.value" 
                          [nzLabel]="option.label">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              
                <div class="col-md-4">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select a state">
                      <label for="state">State *</label>
                      <nz-select
                        formControlName="state"
                        nzPlaceHolder="Select state"
                        [nzShowSearch]="true">
                        <nz-option
                          *ngFor="let option of StateOptions"
                          [nzValue]="option.value"
                          [nzLabel]="option.label">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              
                <div class="col-md-4">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select a district">
                      <label for="district">District *</label>
                      <nz-select
                        formControlName="district"
                        nzPlaceHolder="Select district"
                        [nzShowSearch]="true">
                        <nz-option
                          *ngFor="let option of DistrictOptions"
                          [nzValue]="option.value"
                          [nzLabel]="option.label">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              
                <div class="col-md-4">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select a mandal">
                      <label for="mandal">Mandal *</label>
                      <nz-select
                        formControlName="mandal"
                        nzPlaceHolder="Select mandal"
                        [nzShowSearch]="true"
                        [nzDisabled]="!eventform.get('district')?.value">
                        <nz-option
                          *ngFor="let option of MandalOptions"
                          [nzValue]="option.value"
                          [nzLabel]="option.label">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              
                <div class="col-md-4">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select a village">
                      <label for="village">Village *</label>
                      <nz-select
                        formControlName="object_id"
                        nzPlaceHolder="Select village"
                        [nzShowSearch]="true">
                        <nz-option
                          *ngFor="let option of VillageOptions"
                          [nzValue]="option.value"
                          [nzLabel]="option.label">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              
                 
                  <div class="row">
                    <div class="col-md-4">
                      <label>Banner image *</label>
                      <nz-upload
                        nzListType="picture-card"
                        [(nzFileList)]="bannerFileList"
                        [nzShowButton]="bannerFileList.length < 1"
                        (nzChange)="handleBannerFileChange($event)"
                        [nzAccept]="'image/*'"
                        (nzRemove)="handleBannerFileRemove()">
                        <div>
                          <i nz-icon nzType="plus"></i>
                          Upload Event Image
                        </div>
                      </nz-upload>
                      <div *ngIf="!bannerFileList.length" class="text-danger">
                        Image is required.
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12">
                      
                      <div class="text-center">
                        <button type="button" (click)="onSubmit()" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; padding: 15px;"> Submit </button>
                      </div>
                    </div>
                  </div>
            </div>
        </form>
    </div>
</div>