
*::-webkit-scrollbar {
    width: 0px !important;
    background-color: white !important;
  }
  
  .tab {
    background-color: #f1f1f1;
    color: black;
    border-radius: 8px;

  }
  
  .selected-tab {
    background-color: orange;
    color: white;
    border-radius: 8px;

  }

  .card-container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  /* .responsive-img {
    width: 15vw;
    height: auto;

    margin: 10px 0px 10px 0px;
  } */
  
  /* @media (max-width: 767.98px) {
    .responsive-img {
      width: 100%; 
      margin: auto;
    }
  } */

  .responsive-img {
    width: 15vw;
    height: 20vh;

    margin: 10px 0px 10px 0px;
  }
  
  @media (max-width: 767.98px) {
    .responsive-img {
      width: 100%; 
    }
  }