.fixed-heading {
    position: fixed;
    top: -9px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.scrollable-content {
    margin-top: 80px; /* Adjust this value based on the height of your heading */
    overflow-y: auto;
    height: calc(100vh - 100px); /* Adjust this value based on your layout */
}

