
<div>
    <ngx-spinner bdOpacity=0.9 bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff"
			type="ball-spin-clockwise">
	</ngx-spinner>
    <div class="container  ">
        <div class="row mb-2 text-center">
            <div class="col-12 " style="margin-top: 70px;">
                <img src="../../../assets/gramdevatha-latest.jpg" class="img-fluid responsive-image" alt="Temple Image" style="border-radius: 31px; text-align: center;">
            </div>
        </div>
        
    </div>
    <h1 style="font-size: 30px; font-weight: bold; text-align: center;" class="mt-2 mb-4">Our Village - Our Temple - Our Deity</h1>

    <!-- <div class="container mt-4">
        <div class="col-md-12 row">
            <div class="col-lg-3 col-md-3 col-sm-12 text-center d-none d-sm-block">
                <img src="../../../assets/gramadevata2.jpg" 
                     style="border-radius: 31px; width: 100%; height: 300px; object-fit: fill;" 
                     alt="Temple Image 1">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 d-none d-sm-none d-md-none d-lg-none d-block">
                <img src="../../../assets/gramadevata2.jpg" 
                     style="border-radius: 31px; width: 100%; height: 300px; object-fit: fill;" 
                     alt="Temple Image 1">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 d-none d-sm-none d-md-none d-lg-none d-block">
                <img src="../../../assets/Chnagallama Talli.jpg.png" 
                     style="border-radius: 31px; width: 100%; height: 300px; object-fit: fill;" 
                     alt="Temple Image 3">
            </div>
            
            
            
            
            <div class="col-lg-6 col-md-6 col-sm-12 text-center position-relative">
                <video #videoPlayer 
                       [src]="ads[currentIndex].videoUrl" 
                       class="w-100" 
                       style="height: 300px; object-fit: fill;" 
                       muted 
                       loop 
                       (click)="togglePlay(videoPlayer)" 
                       (ended)="videoPlayer.currentTime = 0; videoPlayer.pause()">
                </video>
                
                <button (click)="togglePlay(videoPlayer)" 
                        *ngIf="videoPlayer.paused" 
                        class="btn btn-primary position-absolute top-50 start-50 translate-middle" 
                        style="font-size: 2rem; border: none; background: none; color: white;">
                    <i class="fas fa-play"></i> 
                </button>
            </div>
            
            <div class=" col-md-3 col-sm-12 text-center d-none d-sm-block">
                <img src="../../../assets/Chnagallama Talli.jpg.png" 
                     style="border-radius: 31px; width: 100%; height: 300px; object-fit: fill;" 
                     alt="Temple Image 3">
            </div>
        </div>
    </div> -->

    <div class="container mt-4">
        <div class="row">
            <!-- Left Image (Large Devices) -->
            <div class="col-lg-3 col-md-3 col-sm-12 text-center d-none d-sm-block ">
                <img src="../../../assets/gramadevata2.jpg" 
                     class="responsive-gramadevata_image"
                     alt="Temple Image 1">
            </div>
    
            <!-- Images Side by Side (Small Devices) -->
            <div class="col-6 d-block d-sm-none text-center mb-3">
                <img src="../../../assets/gramadevata2.jpg" 
                     style="border-radius: 31px; width: 100%; height: 180px; object-fit: fill;" 
                     alt="Temple Image 1">
            </div>
    
            <div class="col-6 d-block d-sm-none text-center mb-3">
                <img src="../../../assets/Chnagallama Talli.jpg.png" 
                     style="border-radius: 31px; width: 100%; height: 180px; object-fit: fill;" 
                     alt="Temple Image 3">
            </div>
    
            <!-- Middle Video Section -->
            <div class="col-lg-6 col-md-6 col-sm-12 text-center position-relative">
                <video #videoPlayer 
                       [src]="ads[currentIndex].videoUrl" 
                       class="responsive-video" 
                        
                       muted 
                       loop 
                       (click)="togglePlay(videoPlayer)" 
                       (ended)="videoPlayer.currentTime = 0; videoPlayer.pause()">
                </video>
    
                <button (click)="togglePlay(videoPlayer)" 
                        *ngIf="videoPlayer.paused" 
                        class="btn btn-primary position-absolute top-50 start-50 translate-middle" 
                        style="font-size: 2rem; border: none; background: none; color: white;">
                    <i class="fas fa-play"></i> 
                </button>
            </div>
    
            <!-- Right Image (Large Devices) -->
            <div class="col-md-3 col-sm-12 text-center d-none d-sm-block">
                <img src="../../../assets/Chnagallama Talli.jpg.png" 
                     class="responsive-gramadevata_image" 
                     alt="Temple Image 3">
            </div>
        </div>
    </div>
    
          <br>
            <!-- connect Your orgini -->
            <div class="container">
                <div class="row">



                    <div class="col-2 d-none d-md-block ">
                        <div class="ad-space-container">
                            <div  >

                                <div class="ad" style="margin-bottom: 150px;" *ngIf="adspace[currentIndex].isVideo">
                                    <video 
                                      #adVideo 
                                      [src]="adspace[currentIndex].videoUrl" 
                                      autoplay 
                                      [muted]="isMuted" 
                                      loop 
                                      playsinline
                                      (loadedmetadata)="onVideoLoaded()"
                                      style=" width: 200px; ">
                                    </video>
                                  </div>
                                  <div style="margin-bottom: 150px;">
                                    <app-add-space ></app-add-space> 

                                  </div>

                                    <app-add-space1></app-add-space1> 

                              </div>
                        </div>
                    </div>

                    
            
                    <div class="col-12 col-md-8">
                        <h1 style="font-size: 30px;font-weight: bold;" class="text-center">Connect Your Origin</h1>
                        <div class="row text-center">
                            <div *ngFor="let village of villages; let i = index" class="col-6 col-md-3 mt-3">
                                <a (click)="navigateToVillageDetail(village._id)">
                                    <img [src]="'../../../assets/village' + (i + 1) + '.jpg'" 
                                         style="height: 25vh; width: 30vh; border-radius: 20px;" 
                                         class="img-fluid img-thumbnail mx-2" 
                                         [alt]="'Village ' + (i + 1) + ' Image'">
                                </a>
                                <p class="text-center">{{ village.name }}</p>
                            </div>
                        </div>
            
                        <div class="col-12 text-center mt-3">
                            <p>All villages, towns, and cities in India</p>
                            <button (click)="openVillageDialog()" 
                                    class="p-2" 
                                    style="border-width: 0px; background-color: rgb(241, 124, 15); 
                                           border-radius: 20px; color: white; margin-right: 10px;">
                                Connect Your Origin
                            </button>
                        </div>
            
                        <div class="col-12 mt-3">
                            <h1 style="font-size: 30px; font-weight: bold;" class="text-center">Temples</h1>
                            <div class="row">
                                <div *ngFor="let templeCategory of templeCategories" class="col-6 col-md-3">
                                    <div class="text-center">
                                        <a (click)="navigateToCategoryDetail(templeCategory)">
                                            <img [src]="templeCategory.pic ? templeCategory.pic : 'assets/ohm.jpg'"
                                                 alt="image"
                                                 class="img-fluid img-thumbnail mx-2"
                                                 style="height: 25vh; width: 30vh; border-radius:20px;"
                                                 (error)="handleImageError($event)">
                                        </a>
                                        <p class="text-center">{{ templeCategory.name }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center mt-3">
                                <button (click)="navigateToTempleFilters()" class="p-2" 
                                        style="border-width: 0px; background-color: rgb(241, 124, 15); 
                                               border-radius: 20px; color: white; margin-right: 10px;">
                                    View more Temples
                                </button>
                            </div>
                        </div>
            
                        <div class="col-12 mt-3">
                            <h1 style="font-size: 30px; font-weight: bold;" class="text-center">Goshalas</h1>
                            <div class="row text-center">
                                <div *ngFor="let goshalaCategory of goshalaCategories" class="col-6 col-md-3 mt-3">
                                    <a (click)="navigateToGoshalaCategoryDetail()">
                                        <img [src]="goshalaCategory.pic ? goshalaCategory.pic : 'assets/ohm.jpg'"
                                             alt="image"
                                             class="img-fluid img-thumbnail mx-2"
                                             style="height: 25vh; width: 30vh; border-radius:20px;"
                                             (error)="handleImageError($event)">
                                    </a>
                                    <p class="text-center">{{ goshalaCategory.name }}</p>
                                </div>
                            </div>
                            <div class="col-12 text-center mt-3">
                                <button (click)="navigateToGoshalaCategoryDetail()" 
                                        class="p-2" 
                                        style="border-width: 0px; background-color: rgb(241, 124, 15); 
                                               border-radius: 20px; color: white; margin-right: 10px;">
                                    View more Goshalas
                                </button>
                            </div>
                        </div>
            
                        <div class="col-12 mt-3">
                            <h1 style="font-size: 30px; font-weight: bold;" class="text-center">Events</h1>
                            <div class="row text-center">
                                <div *ngFor="let eventcategorydata of eventCategories" class="col-6 col-md-3 mt-3">
                                    <a (click)="navigateToEventsCategoryDetail()">
                                        <img [src]="eventcategorydata.pic ? eventcategorydata.pic : 'assets/ohm.jpg'"
                                             alt="image"
                                             class="img-fluid img-thumbnail mx-2"
                                             style="height: 25vh; width: 30vh; border-radius:20px;"
                                             (error)="handleImageError($event)">
                                    </a>
                                    <p class="text-center">{{ eventcategorydata.name }}</p>
                                </div>
                            </div>
                            <div class="col-12 text-center mt-3">
                                <button (click)="navigateToEventsCategoryDetail()" 
                                        class="p-2" 
                                        style="border-width: 0px; background-color: rgb(241, 124, 15); 
                                               border-radius: 20px; color: white; margin-right: 10px;">
                                    View More Events
                                </button>
                            </div>
                        </div>
                    </div>


            
                    <div class="col-2 d-none d-md-block ">
                        <div class="ad-space-container">
                            <div  >
                                <app-add-space></app-add-space> 

                                <div class="ad" *ngIf="2adspace[currentIndex].isVideo">
                                    <video 
                                      #adVideo 
                                      [src]="aadspace[currentIndex].videoUrl" 
                                      autoplay 
                                      [muted]="isMuted" 
                                      loop 
                                      playsinline
                                      (loadedmetadata)="onVideoLoaded()"
                                      style="height: 400px; width: 200px; ">
                                    </video>
                                  </div>
                                  
                                    <app-add-space1></app-add-space1> 

                              </div>
                        </div>
                    </div>
                </div>
            </div>


    


                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 style="font-size: 30px;font-weight: bold;" class="text-center mt-3">Your Connections</h1>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div *ngFor="let connectiondata of connectiondata" class="col-6 col-md-3 mt-3">
                            <a (click)="navigateTempleDetail(connectiondata.temple._id)">
                                <!-- <img [src]="connectiondata.temple.image_location ? 'data:image/jpeg;base64,' + connectiondata.temple.image_location : 'assets/ohm.jpg'" style="height: 25vh; width: 30vh; border-radius:20px;" class=" img-fluid img-thumbnail mx-2" alt="image"> -->
                                <img [src]="connectiondata.temple.image_location ? connectiondata.temple.image_location : 'assets/ohm.jpg'"
                                 alt="image"
                                 class="img-fluid img-thumbnail mx-2"
                                 style="height: 25vh; width: 30vh; border-radius:20px;"
                                 (error)="handleImageError($event)">
                            </a>
                            <p class="text-center">{{connectiondata.temple.name }}</p>
                            
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button class="p-2" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; margin-right: 10px;" (click)="navigateTo('connections')">View Your Connections</button>
                        </div>
                    </div>
                </div>

                
                

                    
                
      
                
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h5>Can't find what you are looking for?</h5>
                        <p>If you are unable to find your temple, village or goshala, kindly add it here.</p>
                        
                            <button (click)="navigateTo('addtemple')" class="m-2 mr-5" style="border-width: 1px;background-color:rgb(238, 141, 51);border-radius: 25px;color:black;width:170px;height: 65px;font-size: 18px;">
                                <i class="fas fa-gopuram faicon"></i>
                                Add Temple
                            </button>
                       
                       
                        
                            <button (click)="navigateTo('addgoshala')" class="p-2 m-2 mr-5" style="border-width: 1px;background-color:rgb(238, 141, 51);border-radius: 25px;color:black;width:170px;height: 65px;font-size:18px;">
                                <i class="fa-solid fa-cow"></i>
                                Add Goshala
                            </button>
                          
                        
                        <button (click)="navigateTo('addevent')" class="p-2 m-2 mr-5" style="border: 1px solid rgb(238, 141, 51); background-color: rgb(238, 141, 51); border-radius: 25px; color: black; width: 170px; height: 65px; font-size: 18px;">
                            <i class="fas fa-calendar-alt faicon"></i>
                            Add Event
                        </button>
                     
                        <div class="mt-2 mb-3 text-center d-flex justify-content-center align-items-center" style="font-size: 16px;">
                            <p class="m-0" >Invite your Friends and Family members</p>
                            <a class="ml-3" style="margin-left: 5px;" (click)="shareNews()">
                                <i class="fas fa-share-alt text-info" style="font-size: 24px;"></i> <!-- Set the size in px -->
                            </a>
                        </div>
                        
                        
                        
                    </div>
                </div>
    
            </div>

      
</div>


    



