/* navbar.component.css */
.navbar {
    /* background-image: url(./images/horizontal-yellow-and-orange-grunge-texture-cement-or-concrete-wall-banner-blank-background-free-photo.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-icons {
    color: white;
}

.bottom {
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand {
    color: white !important;
}

.navbar-brand .navbar-image {
    width: 40px;
    height: 40px;
    padding: 5px;
}
button:hover{
    transform: scale(1.05);
}
button{
    width:200px;
}
.image1{
    transform: scale(1.05); 
}

.image-container img {
    height: 200px; /* Adjust the height as per your requirement */
    width: 100%; /* Ensures the image takes up the full width of its container */
    object-fit: cover; /* Maintains aspect ratio and covers the entire container */
}


.responsive-image {
    width: 100%;
}

@media (min-width: 1200px) {
    /* Large devices (large desktops, 1200px and up) */
    .responsive-image {
        height: 35vh;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    /* Medium devices (tablets, 768px and up) */
    .responsive-image {
        height: 40vh;
    }
}

@media (max-width: 767.98px) {
    /* Small devices (landscape phones, less than 768px) */
    .responsive-image {
        height: 20vh;
    }
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gramadevatha-image {
    border-radius: 31px;
    width: 60%;
    height: 70vh;
}

@media (max-width: 767.98px) {
    /* For medium and smaller devices */
    .gramadevatha-image {
        width: 80%;
        height: 30vh;
        
    }
}

@media (min-width: 768px) {
    /* For larger devices */
    .gramadevatha-image {
        width: 60%;
        height: 40vh;
        text-align: center;
        
    }
}




