<!-- 
    <div>
        <ngx-spinner bdOpacity=0.9 bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff"
			type="ball-spin-clockwise">
		</ngx-spinner>
    <div>
        
        <div class="container">
            <div class="row align-items-center">
                <h1 class="text-center text-primary">Connect your Origin</h1>
            </div>
        </div>
        <div class="container  mt-3" *ngIf="this.villagedata!=null">
            <div class="row mt-5">
                <h1 class="text-justify"><span style="font-size: 22px;">Village : </span>{{villagedata.name}}</h1>
                
                <p class="text-justify "><span>Blocke/Mandal : </span>{{villagedata.block.name}}</p>
                <p class="text-justify"><span>District : </span>{{villagedata.block.district.name}}</p>
                <p class="text-justify"><span>State : </span>{{villagedata.block.district.state.name}}</p>
                <p class="text-justify"><span>Country : </span>{{villagedata.block.district.state.country.name}}</p>
            </div>
            <div *ngIf = villagedata.desc !="null" class="row">
                <h4 class="text-justify">About</h4>
                <p class="text-justify px-5">{{villagedata.desc}}</p>
            </div>
            <hr>
    
            <div class="row py-5">
                <h1 class="text-justify"> Gramadevata Temples </h1>
               
                    <div class="container">
                        <div class="row">
                        <ng-container *ngIf="gramadevatatemples && gramadevatatemples.length > 0; else noData">
                          <div *ngFor="let gramadevatatemple of gramadevatatemples" class="col-md-6 col-lg-3 col-sm-6">
                              <div>
                                <div class="text-center">
                                    
                                        <a (click)="navigateTotempleDetail(gramadevatatemple._id)">
                                            <img [src]="gramadevatatemple.image_location ? gramadevatatemple.image_location : 'assets/ohm.jpg'" alt="image" style="height:30vh; width: 30vh; border-radius:20px;"  class="img-fluid rounded" alt="image" (error)="handleImageError($event)">
                                        </a>
                                    
                                  <p class ="text-center">{{gramadevatatemple.name}}</p>
                              </div>   
                              </div> 
                          </div>
                          
                        
                        </ng-container>
                        <ng-template #noData>
                            <div class = "row"> 
                                <p> We do not have temples from your village, Please do add by clicking below </p>
                            </div>
                            <div >
                                <div class="text-center">
                                    <button type="button" (click)="navigateTo('addtemple')" class="p-2" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white;">Add a Temple</button>
                                </div>
                            </div>
                        </ng-template>
                        </div>
                      </div>   
            </div>

            
    
            <hr>


            <div class="row py-5">
                <h1 class="mb-3"> Other Temples </h1>
                
                    <div class="container">
                        <div class="row">
                        <ng-container *ngIf="othertemples && othertemples.length > 0; else nootherdata">
                          
                          
                            <div *ngFor="let temple of othertemples" class="col-6 col-md-3  mt-3">
                                <a (click)="navigateTotempleDetail(temple._id)">
                                    <img [src]="temple.image_location ?  temple.image_location : 'assets/ohm.jpg'" style="height: 30vh; width: 40vh; border-radius:20px;" class="img-fluid rounded" alt="image" (error)="handleImageError($event)">
                                </a>
                                <p class="text-center">{{temple .name }}</p>
                                
                            </div>
                            
                        
                        </ng-container>
                        <ng-template #nootherdata>
                            <div class = "row text-center"> 
                                <p> We do not have temples from your village, Please do add by clicking below </p>
                            </div>
                            <div >
                                <div >
                                    <div class="text-center">
                                        <button type="button" (click)="navigateTo('addtemple')" class="p-2" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white;">Add a Temple</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        </div>
                      </div> 
               
            </div>

            
            <hr>
            <div class="row py-5">
                <h1 class="text-justify">Goshalas</h1>
                <div class="container">
                    <div class="row">
                        <ng-container *ngIf="goshalas && goshalas.length > 0; else NOgoshalas">
                        <div *ngFor="let goshala of goshalas" class="col-6 col-md-3  mt-3">
                            
                                <a (click)="navigategoshaladata(goshala)">
                                    <img [src]="goshala.image_location ? goshala.image_location : 'assets/ohm.jpg'" alt="image" style="height:30vh; width: 30vh; border-radius:20px;" class="img-fluid rounded" alt="image" (error)="handleImageError($event)">
                                </a>
                                <p class="text-center">{{ goshala.name }}</p>
                            
                        </div>
                    </ng-container>
                    <ng-template #NOgoshalas>
                        <div class = "row text-center"> 
                            <p> We do not have goshalas from your village, Please do add by clicking below </p>
                        </div>
                        <div >
                            <div class="text-center">
                                <button type="button" (click)="navigateTo('addgoshala')" class="p-2" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white;">Add a Goshala</button>
                            </div>
                        </div>
                    </ng-template>
                    </div>
                </div>
               
                
            </div>
            
            <hr>
            <div class="row py-5">
                <h1 class="text-justify"> Events </h1>
               
                    <div class="container">
                        <div class="row">
                        <ng-container *ngIf="events && events.length > 0; else noevents">
                          <div *ngFor="let event of events" class="col-md-6 col-lg-3">
                              <div>
                                <div class="text-center">
                                  
                                        <a (click)="navigateEventdata(event._id)">
                                            <img [src]="event.image_location ? event.image_location : 'assets/ohm.jpg'" alt="image" style="height:30vh; width: 30vh; border-radius:20px;"  class="img-fluid rounded" alt="image" (error)="handleImageError($event)">
                                        </a>
                                  
                                  <p class ="text-center">{{event.name}}</p>
                              </div>    
                              </div> 
                          </div>
                        </ng-container>
                        <ng-template #noevents>
                            <div class = "row text-center"> 
                                <p> We do not have events from your village, Please do add by clicking below </p>
                            </div>
                            <div >
                                <div class="text-center">
                                    <button (click)="navigateTo('addevent')" type="button" class="p-2" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white;">Add a Event</button>
                                </div>
                            </div>
                        </ng-template>
                        </div>
                      </div> 
               
               
                    
               
            </div>
            <hr>
        </div>
       
            <div class="row g-0 justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12">
                    <div class="text-center">
                       
                        <p>Connect as Member , Pujari or Chat with Members
    
                        </p>
                    </div>
                </div>
            </div>
            

            <div class="row g-0 justify-content-center align-items-center" *ngIf="!isConnected">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="d-flex flex-row justify-content-center align-items-center mb-3" style="margin-top: 18px;">
                    
                        <ng-container *ngIf="memberConnections && memberConnections.length > 0; else NOMembers">
                        <div *ngFor="let member of memberConnections" class="d-flex flex-column align-items-center">
                            <button style="border-radius: 50%; border: none; height: 35px; width: 35px; padding: 0;"
                                    (click)="OpenMemberDialog(member)">
                                <i class="fas fa-user" style="font-size: 15px;"></i>
                            </button>
                            <div class="mx-3">
                                <p class="text-center">{{member.user.name}}</p>
                            </div>
                        </div>
                        </ng-container>
                        <ng-template #NOMembers>
                            <div class = "row"> 
                                <p>No Members Found</p>
                            </div>
                        </ng-template>

                    </div>
            
                    <div  class="text-center mb-3" >
                        <button type="button" (click)="OpenAddmemberDilog()" class="btn text-primary" style="border-radius: 10px; border: 2px solid #FF6800;">Connect as Member</button>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="d-flex flex-row justify-content-center align-items-center mb-3" style="margin-top: 18px;">
                        <ng-container *ngIf="pujariConnections && pujariConnections.length > 0; else NOpujaris">
                        <div *ngFor="let member of pujariConnections" class="d-flex flex-column align-items-center">

                            <button style="border-radius: 50%; border: none; height: 35px; width: 35px; padding: 0;"
                                    (click)="OpenMemberDialog(member)">
                                <i class="fas fa-user" style="font-size: 15px;"></i>
                            </button>
                            <div class="mx-3">
                                <p class="text-center">{{member.user.name}}</p>
                            </div>
                        </div>
                        
                       </ng-container>
                    <ng-template #NOpujaris>
                        <div class = "row"> 
                            <p>No Pujaris Found</p>
                        </div>
                    </ng-template>
                    </div>
                    <div class="text-center mb-3" *ngIf="!userservice.isPujariIn">
                        <button type="button" (click)="OpenPujariDilog()" class="btn text-primary" style="border-radius: 10px; border: 2px solid #FF6800;">Connect as Pujari</button>
                    </div>

                    <div class="text-center mb-3" *ngIf="userservice.isPujariIn">
                        <button type="button" (click)="isconnect()" class="btn text-primary" style="border-radius: 10px; border: 2px solid #FF6800;">Connect as Pujari1</button>
                    </div>
            
                    
                </div>
            
                <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 72px;">
                    <div class="text-center mb-3" >
                        <button type="button" (click)="NavigateToChatRoom()" class="btn text-primary" style="border-radius: 10px; border: 2px solid #FF6800;">Chat with Members</button>
                    </div>
                </div>
            </div>


            <div class="row g-0 justify-content-center align-items-center" *ngIf="isConnected">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="d-flex flex-row justify-content-center align-items-center mb-3">
                       
                        <ng-container *ngIf="memberConnections && memberConnections.length > 0; else NOMembers">
                        <div *ngFor="let member of memberConnections" class="d-flex flex-column align-items-center">
                            <button style="border-radius: 50%; border: none; height: 35px; width: 35px; padding: 0;"
                                    (click)="OpenMemberDialog(member)">
                                <i class="fas fa-user" style="font-size: 15px;"></i>
                            </button>
                            <div class="mx-3">
                                <p class="text-center">{{member.user.name}}</p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #NOMembers>
                        <div class = "row"> 
                            <p>No Members Found</p>
                        </div>
                    </ng-template>
                    </div>
            
                    
                </div>
            
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="d-flex flex-row justify-content-center align-items-center mb-3" style="margin-top: 18px;">
                        <div *ngFor="let member of pujariConnections" class="d-flex flex-column align-items-center">
                            <button style="border-radius: 50%; border: none; height: 35px; width: 35px; padding: 0;"
                                    (click)="OpenMemberDialog(member)">
                                <i class="fas fa-user" style="font-size: 15px;"></i>
                            </button>
                            <div class="mx-3">
                                <p class="text-center">{{member.user.name}}</p>
                            </div>
                        </div>
                    </div>
            
                    
                </div>
            
                <div class="col-lg-4 col-md-4 col-sm-12" >
                    <div class="text-center mt-5"  >
                        <button type="button" (click)="NavigateToChatRoom()" class="btn text-primary" style="border-radius: 10px; border: 2px solid #FF6800;">Chat with Members</button>
                    </div>
                </div>
            </div>





   
    
      
    
        <ng-template #noMembers>
            <div class="container">
                <div class="row text-center">
                    <p> No Members Found</p>
                </div>
            </div>
        </ng-template>
       
        <div class="container">
    <div class="row justify-content-around align-items-center">
        <div class="col-md-7 col-sm-12">
            <div class="text-center">
                <p>If you are unable to find your temple, village, or goshala, kindly add it here.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
        <div class="col-lg-9">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3 mb-lg-0">
                        <div class="text-center">
                            <button type="button" (click)="navigateTo('addtemple')" class="btn btn-block p-2" style="border: none; background-color: rgb(241, 124, 15); border-radius: 20px; color: white;">Add a Temple</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3 mb-lg-0">
                        <div class="text-center">
                            <button type="button" (click)="navigateTo('addgoshala')" class="btn btn-block p-2" style="border: none; background-color: rgb(241, 124, 15); border-radius: 20px; color: white;">Add a Goshala</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="text-center">
                            <button type="button" (click)="navigateTo('addevent')" class="btn btn-block p-2" style="border: none; background-color: rgb(241, 124, 15); border-radius: 20px; color: white;">Add an Event</button>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>  
</div>
</div>  -->


<div>
    <ngx-spinner bdOpacity=0.9 bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff"
        type="ball-spin-clockwise">
    </ngx-spinner>
<div>
    
    <div class="container">
        <div class="row align-items-center">
            <h1 class="text-center text-primary">Connect your Origin</h1>
        </div>
    </div>
    <div class="container  mt-3" *ngIf="this.villagedata!=null">
        <div class="row mt-5">
            <h1 class="text-justify"><span style="font-size: 22px;">Village : </span>{{villagedata.name}}</h1>
            <!-- <p class="text-justify"><span>Village/Area :</span>{{villagedata.name}}</p> -->
            <p class="text-justify "><span>Blocke/Mandal : </span>{{villagedata.block.name}}</p>
            <p class="text-justify"><span>District : </span>{{villagedata.block.district.name}}</p>
            <p class="text-justify"><span>State : </span>{{villagedata.block.district.state.name}}</p>
            <p class="text-justify"><span>Country : </span>{{villagedata.block.district.state.country.name}}</p>
        </div>
        <div *ngIf = villagedata.desc !="null" class="row">
            <h4 class="text-justify">About</h4>
            <p class="text-justify px-5">{{villagedata.desc}}</p>
        </div>
        <hr>

        <div class="row py-5">
            <h1 class="text-justify"> Gramadevata Temples </h1>
           
                <div class="container">
                    <div class="row">


                    <ng-container *ngIf="gramadevatatemples && gramadevatatemples.length > 0; else noData">
                        <div class="scroll-container">
                          <div class="scroll-row">
                            <div *ngFor="let gramadevatatemple of gramadevatatemples" class="col-md-6 col-lg-3 col-sm-6">
                              <div>
                                <div class="text-center">
                                  <a (click)="navigateTotempleDetail(gramadevatatemple._id)">
                                    <img [src]="gramadevatatemple.image_location ? gramadevatatemple.image_location : 'assets/ohm.jpg'" alt="image" style="height:20vh; width: 30vh; border-radius:20px;" class="img-fluid rounded" alt="image" (error)="handleImageError($event)">
                                  </a>
                                  <p class="text-center">{{gramadevatatemple.name}}</p>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      </ng-container>
                      
                    <ng-template #noData>
                        <div class = "row"> 
                            <p> We do not have temples from your village, Please do add by clicking below </p>
                        </div>
                        <div >
                            <div class="text-center">
                                <button type="button" (click)="navigateTo('addtemple')" class="p-2" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white;">Add a Temple</button>
                            </div>
                        </div>
                    </ng-template>
                    </div>
                  </div>   
        </div>

        

        <hr>


        <div class="row py-1">
            <h1 class="mb-3"> Other Temples </h1>
            
                <div class="container">
                    <div class="row">
                    <ng-container *ngIf="othertemples && othertemples.length > 0; else nootherdata">
                      
                      

                        <div class="scroll-container">
                            <div class="scroll-row">
                              <div *ngFor="let temple of othertemples" class="col-md-6 col-lg-3 col-sm-6">
                                <div>
                                  <div class="text-center">
                                    <a (click)="navigateTotempleDetail(temple._id)">
                                        <img [src]="temple.image_location ? temple.image_location : 'assets/ohm.jpg'" style="height: 20vh; width: 30vh; border-radius:20px;" class="img-fluid rounded" alt="image" (error)="handleImageError($event)">
                                    </a>
                                    <p class="text-center">{{temple .name }}</p>
                                  </div>
                                </div>
                              </div>
                              
                              
                              
                            </div>
                          </div>

                    
                    </ng-container>
                    <ng-template #nootherdata>
                        <div class = "row text-center"> 
                            <p> We do not have temples from your village, Please do add by clicking below </p>
                        </div>
                        <div >
                            <div >
                                <div class="text-center">
                                    <button type="button" (click)="navigateTo('addtemple')" class="p-2" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white;">Add a Temple</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    </div>
                  </div> 
           
        </div>

        
        <hr>
        <!-- <div class="row py-1">
            <h1 class="text-justify">Goshalas</h1>
            <div class="container">
                <div class="row">
                    <ng-container *ngIf="goshalas && goshalas.length > 0; else NOgoshalas">
                    <div *ngFor="let goshala of goshalas" class="col-6 col-md-3  mt-3">
                        
                            <a (click)="navigategoshaladata(goshala)">
                                <img [src]="goshala.image_location ? goshala.image_location : 'assets/ohm.jpg'" alt="image" style="height:20vh; width: 30vh; border-radius:20px;" class="img-fluid rounded" alt="image" (error)="handleImageError($event)">
                            </a>
                            <p class="text-center">{{ goshala.name }}</p>
                        
                    </div>
                </ng-container>
                <ng-template #NOgoshalas>
                    <div class = "row text-center"> 
                        <p> We do not have goshalas from your village, Please do add by clicking below </p>
                    </div>
                    <div >
                        <div class="text-center">
                            <button type="button" (click)="navigateTo('addgoshala')" class="p-2" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white;">Add a Goshala</button>
                        </div>
                    </div>
                </ng-template>
                </div>
            </div>
           
            
        </div> -->
        <div class="row py-1">
            <h1 class="text-justify"> Goshalas </h1>
           
                <div class="container">
                    <div class="row">
                    <ng-container *ngIf="goshalas && goshalas.length > 0; else NOgoshalas">
                      <div *ngFor="let goshala of goshalas" class="col-md-6 col-lg-3">
                          <div>
                            <div class="text-center">
                                    <a (click)="navigateEventdata(goshala._id)">
                                        <img [src]="goshala.image_location ? goshala.image_location : 'assets/ohm.jpg'" alt="image" style="height:20vh; width: 30vh; border-radius:20px;"  class="img-fluid rounded" alt="image" (error)="handleImageError($event)">
                                    </a>
                              <p class ="text-center">{{goshala.name}}</p>
                          </div>    
                          </div> 
                      </div>
                    </ng-container>
                    <ng-template #NOgoshalas>
                        <div class = "row text-center"> 
                            <p> We do not have events from your village, Please do add by clicking below </p>
                        </div>
                        <div >
                            <div class="text-center">
                                <button (click)="navigateTo('addgoshala')" type="button" class="p-2" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white;">Add a Goshala</button>
                            </div>
                        </div>
                    </ng-template>
                    </div>
                  </div> 
           
           
                
           
        </div>
        
        <hr>
        <div class="row py-1">
            <h1 class="text-justify"> Events </h1>
           
                <div class="container">
                    <div class="row">
                    <ng-container *ngIf="events && events.length > 0; else noevents">
                      <div *ngFor="let event of events" class="col-md-6 col-lg-3">
                          <div>
                            <div class="text-center">
                                    <a (click)="navigateEventdata(event._id)">
                                        <img [src]="event.image_location ? event.image_location : 'assets/ohm.jpg'" alt="image" style="height:20vh; width: 30vh; border-radius:20px;"  class="img-fluid rounded" alt="image" (error)="handleImageError($event)">
                                    </a>
                              <p class ="text-center">{{event.name}}</p>
                          </div>    
                          </div> 
                      </div>
                    </ng-container>
                    <ng-template #noevents>
                        <div class = "row text-center"> 
                            <p> We do not have events from your village, Please do add by clicking below </p>
                        </div>
                        <div >
                            <div class="text-center">
                                <button (click)="navigateTo('addevent')" type="button" class="p-2" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white;">Add a Event</button>
                            </div>
                        </div>
                    </ng-template>
                    </div>
                  </div> 
           
           
                
           
        </div>
        <hr>
    </div>
    <!-- <div *ngIf="!isConnected" class="container"> -->
        <div class="row g-0 justify-content-center align-items-center">
            <div class="col-md-7 col-sm-12">
                <div class="text-center">
                   
                    <p>Connect as Member , Pujari or Chat with Members

                    </p>
                </div>
            </div>
        </div>
        

        <div class="row g-0 justify-content-center align-items-center" *ngIf="!isConnected">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="d-flex flex-row justify-content-center align-items-center mb-3" style="margin-top: 18px;">
                    <!-- Loop through members -->
                    <ng-container *ngIf="memberConnections && memberConnections.length > 0; else NOMembers">
                    <div *ngFor="let member of memberConnections" class="d-flex flex-column align-items-center">
                        <button style="border-radius: 50%; border: none; height: 35px; width: 35px; padding: 0;"
                                (click)="OpenMemberDialog(member)">
                            <i class="fas fa-user" style="font-size: 15px;"></i>
                        </button>
                        <div class="mx-3">
                            <p class="text-center">{{member.user.name}}</p>
                        </div>
                    </div>
                    </ng-container>
                    <ng-template #NOMembers>
                        <div class = "row"> 
                            <p>No Members Found</p>
                        </div>
                    </ng-template>

                </div>
        
                <div  class="text-center mb-3" >
                    <button type="button" (click)="OpenAddmemberDilog()" class="btn text-primary" style="border-radius: 10px; border: 2px solid #FF6800;">Connect as Member</button>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="d-flex flex-row justify-content-center align-items-center mb-3" style="margin-top: 18px;">
                    <ng-container *ngIf="pujariConnections && pujariConnections.length > 0; else NOpujaris">
                    <div *ngFor="let member of pujariConnections" class="d-flex flex-column align-items-center">

                        <button style="border-radius: 50%; border: none; height: 35px; width: 35px; padding: 0;"
                                (click)="OpenMemberDialog(member)">
                            <i class="fas fa-user" style="font-size: 15px;"></i>
                        </button>
                        <div class="mx-3">
                            <p class="text-center">{{member.user.name}}</p>
                        </div>
                    </div>
                    
                   </ng-container>
                <ng-template #NOpujaris>
                    <div class = "row"> 
                        <p>No Pujaris Found</p>
                    </div>
                </ng-template>
                </div>
                <div class="text-center mb-3" *ngIf="!userservice.isPujariIn">
                    <button type="button" (click)="OpenPujariDilog()" class="btn text-primary" style="border-radius: 10px; border: 2px solid #FF6800;">Connect as Pujari</button>
                </div>

                <div class="text-center mb-3" *ngIf="userservice.isPujariIn">
                    <button type="button" (click)="isconnect()" class="btn text-primary" style="border-radius: 10px; border: 2px solid #FF6800;">Connect as Pujari</button>
                </div>
        
                
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 72px;">
                <div class="text-center mb-3" >
                    <button type="button" (click)="NavigateToChatRoom()" class="btn text-primary" style="border-radius: 10px; border: 2px solid #FF6800;">Chat with Members</button>
                </div>
            </div>
        </div>


        <div class="row g-0 justify-content-center align-items-center" *ngIf="isConnected">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="d-flex flex-row justify-content-center align-items-center mb-3">
                    <!-- Loop through members -->
                    <ng-container *ngIf="memberConnections && memberConnections.length > 0; else NOMembers">
                    <div *ngFor="let member of memberConnections" class="d-flex flex-column align-items-center">
                        <button style="border-radius: 50%; border: none; height: 35px; width: 35px; padding: 0;"
                                (click)="OpenMemberDialog(member)">
                            <i class="fas fa-user" style="font-size: 15px;"></i>
                        </button>
                        <div class="mx-3">
                            <p class="text-center">{{member.user.name}}</p>
                        </div>
                    </div>
                </ng-container>
                <ng-template #NOMembers>
                    <div class = "row"> 
                        <p>No Members Found</p>
                    </div>
                </ng-template>
                </div>
        
                
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="d-flex flex-row justify-content-center align-items-center mb-3" style="margin-top: 18px;">
                    <div *ngFor="let member of pujariConnections" class="d-flex flex-column align-items-center">
                        <button style="border-radius: 50%; border: none; height: 35px; width: 35px; padding: 0;"
                                (click)="OpenMemberDialog(member)">
                            <i class="fas fa-user" style="font-size: 15px;"></i>
                        </button>
                        <div class="mx-3">
                            <p class="text-center">{{member.user.name}}</p>
                        </div>
                    </div>
                </div>
        
                
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-12" >
                <div class="text-center mt-5"  >
                    <button type="button" (click)="NavigateToChatRoom()" class="btn text-primary" style="border-radius: 10px; border: 2px solid #FF6800;">Chat with Members</button>
                </div>
            </div>
        </div>







  

    <ng-template #noMembers>
        <div class="container">
            <div class="row text-center">
                <p> No Members Found</p>
            </div>
        </div>
    </ng-template>
   
    <div class="container">
<div class="row justify-content-around align-items-center">
    <div class="col-md-7 col-sm-12">
        <div class="text-center">
            <p>If you are unable to find your temple, village, or goshala, kindly add it here.</p>
        </div>
    </div>
</div>
<div class="row justify-content-center align-items-center mb-5">
    <div class="col-lg-9">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3 mb-lg-0">
                    <div class="text-center">
                        <button type="button" (click)="navigateTo('addtemple')" class="btn btn-block p-2" style="border: none; background-color: rgb(241, 124, 15); border-radius: 20px; color: white;">Add a Temple</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-3 mb-lg-0">
                    <div class="text-center">
                        <button type="button" (click)="navigateTo('addgoshala')" class="btn btn-block p-2" style="border: none; background-color: rgb(241, 124, 15); border-radius: 20px; color: white;">Add a Goshala</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="text-center">
                        <button type="button" (click)="navigateTo('addevent')" class="btn btn-block p-2" style="border: none; background-color: rgb(241, 124, 15); border-radius: 20px; color: white;">Add an Event</button>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
</div>  
</div>
</div>