<!-- 

 <div class="container p-4" *ngIf="!isMember;" >
    <form [formGroup]="memberform">
        <div >
            <div class="row">
                <h3 class="text-center">Member Registration</h3>
            </div>

            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="full_name">Name*</label>
                        <input type="text" class="form-control" formControlName="full_name" placeholder="Enter the name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="father_name">Father's Name*</label>
                        <input type="text" class="form-control" formControlName="father_name" placeholder="Enter the father's name">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="father_name">Date of Birth*</label>
                        <input type="date" class="form-control" formControlName="dob" placeholder="Enter the father's name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_number">Contact Number</label>
                        <input type="text" class="form-control" formControlName="contact_number" placeholder="Enter the contact number">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                

                <div class="row">
                    <div class="col-md-12">
                        <nz-form-item>
                            <nz-form-control>
                                <label class="pb-1">Describe your view about your village</label>
                                <textarea nz-input placeholder="" formControlName='description'
                                    [nzAutosize]="{ minRows: 5, maxRows: 10 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

            </div>
            <div class="row d-flex">
				<label class="pb-2">How you belongs to the villagge ?</label>

				<label *ngFor="let checkbox of checkboxes">
					<input type="checkbox" [value]="checkbox.value" 
                    [checked]="selectedCheckboxes.value.includes(checkbox.value)" />
					{{ checkbox.label }}
				</label>
			</div>


            
            <div class="row mt-5">
                <div class="col-12 text-center" >
                    <button (click)="onSubmit()">Submit</button>
                </div>
            </div>
            
        </div>

        <div class="container p-4" *ngIf="isMember;" >
            <form [formGroup]="memberform">
                <div >
                    <div class="row">
                        <h3 class="text-center">Member Registration</h3>
                    </div>
        
                    
                    <div class="row mt-2">
                        
        
                        <div class="row">
                            <div class="col-md-12">
                                <nz-form-item>
                                    <nz-form-control>
                                        <label class="pb-1">Describe your view about your village</label>
                                        <textarea nz-input placeholder="" formControlName='description'
                                            [nzAutosize]="{ minRows: 5, maxRows: 10 }"></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
        
                    </div>
                    <div class="row d-flex">
                        <label class="pb-2">How you belongs to the villagge ?</label>
        
                        <label *ngFor="let checkbox of checkboxes">
                            <input type="checkbox" [value]="checkbox.value" 
                            [checked]="selectedCheckboxes.value.includes(checkbox.value)" />
                            {{ checkbox.label }}
                        </label>
                    </div>
        
        
                    
                    <div class="row mt-5">
                        <div class="col-12 text-center" >
                            <button (click)="onSubmit()">Submit</button>
                        </div>
                    </div>
                    
                </div>


        

    </form>
</div>
 -->



 <div class="container p-4" *ngIf="!isMemberIn;" style="max-width: 600px; margin: 0 auto; max-height: 800px">
    <form [formGroup]="memberform">
        <div>
            <div class="row">
                <h3 class="text-center">Member Registration</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="full_name">Full Name*</label>
                        <input type="text" class="form-control" formControlName="full_name" placeholder="Enter the name">
                        <div *ngIf="memberform.get('full_name')?.invalid && (memberform.get('full_name')?.dirty || memberform.get('full_name')?.touched)" class="text-danger">
                            Full name required
                          </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="father_name">Father's Name*</label>
                        <input type="text" class="form-control" formControlName="father_name" placeholder="Enter the father's name">
                        <div *ngIf="memberform.get('father_name')?.invalid && (memberform.get('father_name')?.dirty || memberform.get('father_name')?.touched)" class="text-danger">
                            Father's Name required
                          </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dob">Date of Birth*</label>
                        <input type="date" class="form-control" formControlName="dob" placeholder="Enter the date of birth">
                        <div *ngIf="memberform.get('full_name')?.invalid && (memberform.get('full_name')?.dirty || memberform.get('full_name')?.touched)" class="text-danger">
                            Date of Birth required
                          </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_number">Contact Number</label>
                        <input type="text" class="form-control" formControlName="contact_number" placeholder="Enter the contact number">
                        <div *ngIf="memberform.get('full_name')?.invalid && (memberform.get('full_name')?.dirty || memberform.get('full_name')?.touched)" class="text-danger">
                            Contact Number required
                          </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-control>
                            <label class="pb-1">Describe your view about your village</label>
                            <textarea nz-input placeholder="" formControlName="description" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row d-flex mt-2">
                <label class="pb-2">How do you belong to the village?</label>
                <div *ngFor="let checkbox of checkboxes" class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" [value]="checkbox.value" [checked]="selectedCheckboxes.value.includes(checkbox.value)" />
                    <label class="form-check-label">{{ checkbox.label }}</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <button (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container p-4" *ngIf="isMemberIn;" style="max-width: 600px; margin: 0 auto; max-height: 800px">
    <form [formGroup]="ConnectForm">
        <div>
            <div class="row">
                <h3 class="text-center">Member Registration</h3>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <nz-form-item>
                        <nz-form-control>
                            <label class="pb-1">Describe your view about your village</label>
                            <textarea nz-input placeholder="" formControlName="description" [nzAutosize]="{ minRows: 3, maxRows: 5 }" style="margin-right: 10px;"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row d-flex mt-2">
                <label class="pb-2">How do you belong to the village?</label>
                <div *ngFor="let checkbox of checkboxes" class="form-check form-check-inline">
                    <input type="checkbox"  class="form-check-input" [value]="checkbox.value" [checked]="selectedCheckboxes.value.includes(checkbox.value)" />
                    <label class="form-check-label">{{ checkbox.label }}</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <button (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
