<!-- <section class="header-m">

    <div class="container-fluid  mt-5 p-5" >
        <div class="row">
            
       

        <div class="col-md-3 col-lg-2 mt-3">
            <div style="height: 320px; ">
             
              <div class="card shadow-sm">
               
                <div class="card-header" style="background: linear-gradient(to right, #ff5500, #FF8c00); color: white;">
                  <h6 class="mb-0">Diety Categories Filters</h6>
              </div>
              
              
                
                <div class="card-body">
                  <app-tree-view
                    (nodeClick)="onCategoryClick($event)"
                    [treeType]="'templecategory'">
                  </app-tree-view>
                </div>
         
              </div>
            </div>
      
            <div class="py-5">
              <div class="card shadow-sm" style="width: 100%; max-width: 1200px;">
                <div class="card-header text-white " style="background: linear-gradient(to right, #ff5500, #FF8c00); color: white;">
                  <h6 class="mb-0">Location Filters</h6>
                </div>
                <div class="card-body">
                  
                  <form [formGroup]="validatorForm">
                   
                    <div class="">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please select a Country">
                           
                            <nz-select formControlName="country" nzPlaceHolder="Select Country Temples"
                              [nzShowSearch]="true" >
                              <nz-option *ngFor="let option of CountryOptions"
                                [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    <div class="">
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please select a state">
                   
                          <nz-select formControlName="state" nzPlaceHolder="Select State Temples"
                            [nzShowSearch]="true" >
                            <nz-option *ngFor="let option of StateOptions"
                              [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div >
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please select a District">
                         
                          <nz-select formControlName="district" nzPlaceHolder="Select District Temples"
                            [nzShowSearch]="true" >
                            <nz-option *ngFor="let option of DistrictOptions"
                              [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div >
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please select a state">
                          
                          <nz-select formControlName="mandal" nzPlaceHolder="Select Mandal Temples"
                            [nzShowSearch]="true" >
                            <nz-option *ngFor="let option of MandalOptions"
                              [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div >
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please select a state">
                          
                          <nz-select formControlName="village" nzPlaceHolder="Select village Temples"
                            [nzShowSearch]="true" >
                            <nz-option *ngFor="let option of VillageOptions"
                              [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>

                    </div>
                    <div class="text-center">
                      <button (click)="onReset()" class="btn btn-primary px-4 me-mb-2 text-white" style="background-color: orange; border-color: orange;">Reset</button>
                    </div>
                  </form>
                  
                  
                  
                </div>
              </div>
            </div>
            
          
          </div>
          
              
              
              




            <div class="col-md-54 col-lg-8 hide-scrollbar" style="overflow-y: scroll; height: 80vh;">
                <section>
                    <div>  
                        <div class="card mt-3">
                            <div class="row no-gutters ">
                                <div class="col-md-4 text-center">
                                    
                                         <img [src]="(templeCategorydata && templeCategorydata[0] && templeCategorydata[0].pic) ? 
                                                templeCategorydata[0].pic : 
                                                'assets/ohm.jpg'" 
                                          alt="image" 
                                          class="card-img"
                                          style="height: 18vh; width: 13vw; margin-top: 20px;">

                                </div>
                                <div class="col-md-8 d-flex flex-column justify-content-center p-3">
                                    <h4 class="card-title mb-2 " style="font-size: 24px; color: #ff4500;"><b>{{ templeCategorydata[0]?.name }} Temples</b></h4>

                                    <p class="card-text" style="font-size: 18px;">{{ templeCategorydata[0]?.desc }}</p>
                                </div>
                            </div>
                        </div>
                        
                        
                        

                        <div class="container card mt-3">
                            <div class="row">
                              
                            </div>
                            <div class="slider-div">
                                <ng-container *ngIf="globaltemples && globaltemples.length > 0; else noData">
                                    <div class="row mt-3">
                                        <div *ngFor="let temple of globaltemples" class="col-12 col-sm-4 col-md-4 col-lg-2 mb-4 ">
                                            <div class="image-container text-center ">
                                                <a (click)="navigateTempleDetail(temple._id)">
                                                    
                                                         <img [src]="temple.image_location ? temple.image_location : 'assets/ohm.jpg'"
                                                              alt="image"
                                                              class="card-img"
                                                              style="height: 15vh; width: 8vw;"
                                                              (error)="handleImageError($event)">

                                                </a>
                                                <p class="my-2" style="font-size: 12px;">{{ temple.name }}</p>
                                                


                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <ng-template #selectionTemplate>
                        <div class="container">
                            <div class="row text-center">
                                <p>Select the state from filters for temples</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #noData>
                        <div class="row text-center">
                            <div class="col">
                                <img src="../../../assets/not _found.jpg" alt="No Data" class="img-fluid" style="width: 30%;" />
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <p>No Data Found</p>
                            </div>
                        </div>
                    </ng-template>
                </section>
            </div>
           
        </div>
    </div>
</section> -->



<section class="header-m">
  <div class="container-fluid mt-5 p-5">
    <div class="row">

      <div [ngClass]="{'d-none': !filtersVisible, 'd-md-block': true}" class="col-md-3 col-xl-2 mt-3 mb-4">
        <div class="card mb-4 ">
          <div class="hide-scrollbar" style="height: 300px; overflow-y: auto;">
         
            <div class="card-header" style="background: linear-gradient(to right, #ff5500, #FF8c00); color: white;">
              <h6 class="mb-0">Diety Categories Filters</h6>
          </div>
  
            <div class="card-body">
              <app-tree-view (nodeClick)="onCategoryClick($event)" [treeType]="'templecategory'"></app-tree-view>

            </div>
          </div>
        </div>
  
  
        <div class="card shadow-sm">
          <div class="card-header text-white" style="background: linear-gradient(to right, #ff5500, #FF8c00);">
            <h6 class="mb-0">Location Filters</h6>
          </div>
          <div class="card-body">
            <form [formGroup]="validatorForm">
                   
              <div class="">
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Please select a Country">
                      <nz-select formControlName="country" nzPlaceHolder="Select Country Temples"
                        [nzShowSearch]="true" >
                        <nz-option *ngFor="let option of CountryOptions"
                          [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              <div class="">
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please select a state">
                    <nz-select formControlName="state" nzPlaceHolder="Select State Temples"
                      [nzShowSearch]="true" >
                      <nz-option *ngFor="let option of StateOptions"
                        [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div >
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please select a District">
          
                    <nz-select formControlName="district" nzPlaceHolder="Select District Temples"
                      [nzShowSearch]="true" >
                      <nz-option *ngFor="let option of DistrictOptions"
                        [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div >
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please select a state">
                    
                    <nz-select formControlName="mandal" nzPlaceHolder="Select Mandal Temples"
                      [nzShowSearch]="true" >
                      <nz-option *ngFor="let option of MandalOptions"
                        [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div >
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please select a state">
                    
                    <nz-select formControlName="village" nzPlaceHolder="Select village Temples"
                      [nzShowSearch]="true" >
                      <nz-option *ngFor="let option of VillageOptions"
                        [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

              </div>
              <div class="text-center">
                <button (click)="onReset()" class="btn btn-primary px-4 me-mb-2 text-white" style="background-color: orange; border-color: orange;">Reset</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>









      <div class="col-md-9 col-lg-9 hide-scrollbar" style="overflow-y: scroll; height: 80vh;">
        <section>
          <div>
            <div class="card mt-3">
              <div class="row no-gutters">
                <div class="col-md-4 text-center">
                  <img [src]="(templeCategorydata && templeCategorydata[0] && templeCategorydata[0].pic) ? 
                                                templeCategorydata[0].pic : 
                                                'assets/ohm.jpg'" 
                                          alt="img" 
                                          class="card-img responsive-img"
                                          >
                </div>

                <div class="col-md-8 d-flex flex-column justify-content-center p-3">
                  <h4 class="card-title mb-2" style="font-size: 24px; color: #ff4500;"><b>{{ templeCategorydata[0]?.name }} Temples</b></h4>
                  <p class="card-text" style="font-size: 18px;">{{ templeCategorydata[0]?.desc }}</p>
                </div>
              </div>
            </div>
            <div class="container card mt-3">
              <div class="slider-div">
                <ng-container *ngIf="globaltemples && globaltemples.length > 0; else noData">
                  <div class="row mt-3">
                    <div *ngFor="let temple of globaltemples" class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 mb-4">
                      <div class="image-container text-center">
                        <a (click)="navigateTempleDetail(temple._id)">
                          <img [src]="temple.image_location ? temple.image_location : 'assets/ohm.jpg'"
                               alt="image"
                               class="img-fluid img-thumbnail "
                               style="height: 10vw; width: 10vw; min-width: 70px; min-height: 100px; object-fit: cover;"
                               (error)="handleImageError($event)">
                        </a>
                        <p class="my-2" style="font-size: 12px;">{{ temple.name }}</p>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            
          </div>

          <ng-template #noData>
            <div class="row text-center">
              <div class="col">
                <img src="../../../assets/not_found.jpg" alt="No Data" class="img-fluid" style="width: 30%;" />
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <p>No Data Found</p>
              </div>
            </div>
          </ng-template>
        </section>
      </div>

    </div>
  </div>
</section>