


  .pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .pdf-frame {
    width: 100%; /* Default width for larger screens */
    height: 100%;
    margin-top: 150px;
  }
  
  @media (max-width: 768px) { /* For tablets and medium devices */
    .pdf-frame {
      width: 90%;
      height: 90vh;
    }
  }
  
  @media (max-width: 576px) { /* For small devices like phones */
    .pdf-frame {
      width: 100%;
      height: 80vh;
    }
  }
  
  