<div class="container p-4" *ngIf="!isMemberIn;" style="max-width: 600px; margin: 0 auto; max-height: 600px" >
    <form [formGroup]="memberform">
        <div >
            <div class="row">
                <h3 class="text-center">Pujari Registration</h3>
            </div>

            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Full Name*</label>
                        <input type="text" class="form-control" formControlName="full_name" placeholder="Enter the Full Name">
                        <div *ngIf="memberform.get('full_name')?.invalid && (memberform.get('full_name')?.dirty || memberform.get('full_name')?.touched)" class="text-danger">
                            Full name required
                          </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="surname">Father Name*</label>
                        <input type="text" class="form-control" formControlName="father_name" placeholder="Enter the Father's Name">
                        <div *ngIf="memberform.get('father_name')?.invalid && (memberform.get('father_name')?.dirty || memberform.get('father_name')?.touched)" class="text-danger">
                            Father's Name required
                          </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="father_name">Date of birth*</label>
                        <input type="date" class="form-control" formControlName="dob" placeholder="Enter the Date of birth">
                        <div *ngIf="memberform.get('full_name')?.invalid && (memberform.get('full_name')?.dirty || memberform.get('full_name')?.touched)" class="text-danger">
                            Date of Birth required
                          </div>
                    </div>
                </div> -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="gender">Gender*</label>
                        <select class="form-control" formControlName="gender">
                            <option value="" disabled selected>Select your gender</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                            <option value="other">Other</option>
                        </select>
                        <div *ngIf="memberform.get('gender')?.invalid && (memberform.get('gender')?.dirty || memberform.get('gender')?.touched)" class="text-danger">
                            Gender required
                        </div>
                    </div>
                </div>
                
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_number">Contact Number*</label>
                        <input type="text" class="form-control" formControlName="contact_number" placeholder="Enter the contact number">
                        <div *ngIf="memberform.get('full_name')?.invalid && (memberform.get('full_name')?.dirty || memberform.get('full_name')?.touched)" class="text-danger">
                            Contact Number required
                          </div>
                    </div>
                </div> -->
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="contact_number">Contact Number*</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="contact_number"
                        placeholder="Enter the contact number"
                      />
                      <!-- Error messages for validation -->
                      <div
                        *ngIf="
                          contactNumber?.invalid &&
                          (contactNumber?.dirty || contactNumber?.touched)
                        "
                        class="text-danger"
                      >
                        <div *ngIf="contactNumber?.errors?.['required']">
                          Contact Number is required
                        </div>
                        <div *ngIf="contactNumber?.errors?.['pattern']">
                          Contact Number must be a 10-digit number
                        </div>
                      </div>
                    </div>
                  </div>
                  
            </div>
            <div class="row mt-2">
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="you_belongs_to_the_village">pujari certificate</label>
                        <input type="text" class="form-control" formControlName="pujari_certificate" placeholder="Enter the pujari certificate Number">
                        <div *ngIf="memberform.get('pujari_certificate')?.invalid && (memberform.get('pujari_certificate')?.dirty || memberform.get('pujari_certificate')?.touched)" class="text-danger">
                            pujari certificate required
                          </div>
                    </div>
                </div> -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="certificate_type">ID Proof Type*</label>
                    <select class="form-control" formControlName="certificate_type" (change)="onCertificateTypeChange($event)">
                        <option value="" disabled>Select Id Proof Type</option>
                        <option value="aadhaar">Aadhaar</option>
                        <option value="pan">PAN</option>
                        <option value="voter">Voter ID</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pujari_certificate">ID Proof Number*</label>
                    <input type="text" class="form-control" [placeholder]="certificatePlaceholder" formControlName="pujari_certificate" [pattern]="certificatePattern">
                    <div *ngIf="memberform.get('pujari_certificate')?.invalid && (memberform.get('pujari_certificate')?.dirty || memberform.get('pujari_certificate')?.touched)" class="text-danger">
                        Pujari ID Proof Number required or invalid format
                    </div>
                </div>
            </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="working_temple">Working Temple</label>
                        
                            <input type="text" class="form-control" formControlName="working_temple" placeholder="Enter the pujari working temple">
                            <div *ngIf="memberform.get('working_temple')?.invalid && (memberform.get('working_temple')?.dirty || memberform.get('working_temple')?.touched)" class="text-danger">
                                Working Temple required
                              </div>
                        
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label for="working_temple">Pujari Desgingination</label>
                        
                            <input type="text" class="form-control" formControlName="pujari_designation" placeholder="Enter the pujari working temple">
                            <div *ngIf="memberform.get('pujari_designation')?.invalid && (memberform.get('pujari_designation')?.dirty || memberform.get('pujari_designation')?.touched)" class="text-danger">
                                Pujari Desgingination required
                              </div>
                        
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="gender"> Visibility*</label>
                        <select class="form-control" formControlName="account_type">
                            <option value="" disabled selected></option>
                            <option value="PRIVATE">PRIVATE</option>
                            <option value="PUBLIC">PUBLIC</option>
                            
                        </select>
                        <div *ngIf="memberform.get('account_type')?.invalid && (memberform.get('account_type')?.dirty || memberform.get('account_type')?.touched)" class="text-danger">
                            Gender required
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_number">Email </label>
                        <input type="text" class="form-control" formControlName="email" placeholder="Enter the email">
                        <div *ngIf="memberform.get('email')?.invalid && (memberform.get('email')?.dirty || memberform.get('email')?.touched)" class="text-danger">
                            Email required
                          </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-center mb-3" >
                    <!-- <button (click)="onSubmit()">Submit</button> -->
                    <button type="button" (click)="onSubmit()" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; padding: 10px;"> Submit </button>
                </div>
            </div>
            
        </div>
    </form>
</div>



<div class="container p-4" *ngIf="isMemberIn;" >
    <form [formGroup]="memberform">
        <div >
            <div class="row">
                <h3 class="text-center">Pujari Registration</h3>
            </div>

            
            <div class="row mt-2">
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="you_belongs_to_the_village">pujari certificate</label>
                        <input type="text" class="form-control" formControlName="pujari_certificate" placeholder="Enter the pujari certificate Number">
                        <div *ngIf="memberform.get('pujari_certificate')?.invalid && (memberform.get('pujari_certificate')?.dirty || memberform.get('pujari_certificate')?.touched)" class="text-danger">
                            pujari certificate required
                          </div>
                    </div>
                </div> -->
                <div class="col-md-6">
                <div class="form-group">
                    <label for="certificate_type">Certificate Type*</label>
                    <select class="form-control" formControlName="certificate_type" (change)="onCertificateTypeChange($event)">
                        <option value="" disabled>Select Certificate Type</option>
                        <option value="aadhaar">Aadhaar</option>
                        <option value="pan">PAN</option>
                        <option value="voter">Voter ID</option>
                    </select>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label for="pujari_certificate">ID Proof Number*</label>
                    <input type="text" class="form-control" [placeholder]="certificatePlaceholder" formControlName="pujari_certificate" [pattern]="certificatePattern">
                    <div *ngIf="memberform.get('pujari_certificate')?.invalid && (memberform.get('pujari_certificate')?.dirty || memberform.get('pujari_certificate')?.touched)" class="text-danger">
                        Pujari certificate required or invalid format
                    </div>
                </div>
                </div>
                
                <div class="col-md-6" >
                    <div class="form-group">
                        <label for="working_temple">Working Temple</label>
                        
                            <input type="text" class="form-control" formControlName="working_temple" placeholder="Enter the pujari working temple">
                            <div *ngIf="memberform.get('working_temple')?.invalid && (memberform.get('working_temple')?.dirty || memberform.get('working_temple')?.touched)" class="text-danger">
                                Working Temple required
                              </div>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="working_temple">Pujari Desgingination</label>
                        
                            <input type="text" class="form-control" formControlName="pujari_designation" placeholder="Enter the pujari working temple">
                            <div *ngIf="memberform.get('pujari_designation')?.invalid && (memberform.get('pujari_designation')?.dirty || memberform.get('pujari_designation')?.touched)" class="text-danger">
                                Pujari Desgingination required
                              </div>
                        
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-center" >
                    <!-- <button (click)="onSubmit()">Submit</button> -->
                    <button type="button" (click)="onSubmit()" style="border-width: 0px;background-color: rgb(241, 124, 15);border-radius:20px;color: white; padding: 10px;"> Submit </button>
                </div>
            </div>
            
        </div>
    </form>
</div>
